@import "../../../styles/variable";

.wrapper {
  max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
  width: 100%;
  margin: auto;
  padding: 0 var(--wrapspace);
}

.card {
  display: flex;
  gap: 20px;
  padding: 60px 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.card.reverse {
  flex-direction: row-reverse;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out; 
  }

  @media (max-width: 768px) {
    width: 100%;
    .image {
      width: 500px;
      height: 300px;
    }
  }
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  padding-top: 0;
border-bottom: 1px solid #e7dbd1;
  h3 {
    margin: 10px 0 40px;
    font-size: 24px;
    color: $primary-color;
    font-weight:bolder;
    border-bottom: 2px solid $primary-color;
  }

  p {
    margin: 0;
    line-height: 40px;
    color: #4d1400;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    width: 100%;
    text-align: left;
    margin-top: 10px;

    h3{
        margin:10px 0px 20px;
        font-size: 20px;
    }
  }
}

@media(max-width:480px){
    .wrapper{
        padding: 0 10px;
    }
    .right{
        border-bottom: none;
        p{
            line-height: 30px;
            font-size: 14px;
        }

       
    }
}