@import "../../styles/variable";

.footer {
  background-color: $secondary-color;
  color: #05203c;
  padding: 50px 20px 30px;
  border-top:5px solid #bebbb3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    min-width: 150px;

    .link{
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .logo {
      width: 90px;
      height: auto;
      object-fit: contain;
      margin-bottom: 10px;
      
    }

    .name{
      font-size: 20px;
      font-weight: 600;
      text-align:center;
      color:$white-color;

      &:hover {
          color: $primary-color;
      }

    }

    .heading{
      font-size: 18px;
      padding-bottom: 10px;
      color:$white-color;

       &:hover {
          color: $primary-color;
      }
    }

    .socialIcons {
      display: flex;
      gap: 15px;
      margin-top: 10px;

      a {
        color: $white-color;
        font-size: 20px;
        border: 1px solid $white-color;
        border-radius: 50%;
        padding: 8px;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }

    .policyLinks {
      display: flex;
      gap: 40px;
      margin-top: 10px;
      flex-wrap: nowrap;

      a {
        color: $white-color;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
        white-space: nowrap;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .bottom {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    color: $white-color;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 60px 40px 40px;

    .socialIcons a {
      font-size: 16px;
    }

    .bottom {
      font-size: 12px;
    }
  }
}

@media(max-width:768px){

  .footer {
    padding: 30px 20px;
  .container{
    flex-direction: column;  
    align-items: center;
    gap: 20px;
  }

  .column {
     flex: unset;
      width: 100%;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;

    .container {
      gap: 0px;
    }

    .column {
      width: 100%;
      align-items: center;

      .policyLinks {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        font-size: 14px;
        margin-top: 20px;
      }
    }

    .bottom {
      font-size: 11px;
    }
  }
}
